*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e9ecef;
}
.container{
    background-color: #e9ecef;
}
html{
    font-size: 62.5%;
}
.nav-bar{
    background-color: #10266b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width: 10rem;
    background-color: #10266b;
}
.nav-bar>h1 {
    color: #ffff;
    font-size: 3rem;
    padding-right: 2rem;
    background-color: #10266b;
    text-decoration: none;
}

.html>h1 , .css>h1 , .js>h1{
    background-color: #ffff;
    width: 80%;
    height: 1rem;
    font-size: 4rem;
    padding: 3rem;
}
.html>h1>a , .css>h1>a , .js>h1>a{
    text-decoration: none;
    color: #10266b;
    background-color: #ffff;
    position: relative;
    bottom: 2rem;
}
.html , .css , .js{
    display: flex;
    justify-content:  center;
    align-items: center;
    margin-bottom: 5rem;
}
.quiz-selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
#gif{
    width: 5rem;
}
.result{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 2rem;
}
.allresult{
    padding-top: 10rem;
}

















































































.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }
  
  .single-chart {
    width: 30rem;
    justify-content: space-around ;
    position: relative;
    right: 12rem;
    bottom: 2rem;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 20%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  
  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 1rem;
    text-anchor: middle;
  }